{% extends "layouts/app.twig" %}
   {% block title %}Document {% endblock %}

{% block content %}

<h1>Привет!</h1>

{{ PHP_EOL }}

{{ PHP_EOL }}

{{ linkTo('phalcon/signup','Регистрируйся!') }}
{% endblock %}